<!DOCTYPE html>
<html>
  <head>
    <title>Ninetyninecats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <div>
      <p>99</p>
      <h1>NinetyNineCats</h1>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <p>*There's no way we actually trust you with a cat. Sorry.</p>
  </footer>
</html>
