<h1>Comment from <%= link_to @comment.title, post_url(@comment.post_id) %></h1>

<h3>Author:</h3>
<p><%= @comment.email %></p>

<h3>Comment:</h3>
<p><%= "(#{time_ago_in_words(@comment.created_at)} ago)" %></p>
<p><%= @comment.body %></p>

<h3>Replies:</h3>
<%= render 'nested_comments', comment: @comment, all_comments: @all_comments %>

<h3>Reply to this comment:</h3>
<form action="/comments" method="post">
    <%= auth_token_helper %>
    <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">
    <input type="hidden" name="comment[parent_comment_id]" value="<%= @comment.id %>">
    <label>
        Reply:
        <textarea name="comment[body]"></textarea>
    </label>
    <input type="submit" value="Post Reply">
</form>