<h1><%= @sub.title %></h1>

<h3>Title</h3>
<p><%= @sub.title %></p>

<h3>Description</h3>
<p><%= @sub.description %></p>

<h3>Moderator</h3>
<p><%= @sub.email %></p>

<h3>Posts</h3>
<ul>
    <% @posts.each do |post| %>
        <li><%= link_to post.title, post_url(post) %></li>
    <% end %>
</ul>