<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>MusicApp</h1>
      <div>
        <% if !current_user %>
          <%= link_to 'Sign Up', new_user_url, class: 'action' %>
          <%= link_to 'Log In', new_session_url, class: 'action' %>
        <% else %>
          <form action="<%= session_url %>" method="post">
            <input 
              type="hidden" 
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="DELETE">

            <input type="submit" value="Log Out" class="action">
          </form>
        <% end%>
      </div>
    </header>
    <section>
      <div><%= yield %></div>
    </section>
    <footer>
      <p>MusicApp is not real. Please don't email me.</p>
    </footer>
  </body>
</html>
